extends ../layouts/app

block content
	h1(class="text-center") Category
	table.table
		thead.thead-dark
			tr
				th(scope='col') #
				th(scope='col') Name
				th(scope='col') Image
				th(scope='col') Price
				th(scope='col') Action
				th(scope='col')
		tbody
			each product in products
				tr
					th(scope='row')= product.id
					td= product.name
					td
						img(src=`${product.imgUrl}`,class="img-75")
					td= product.price
					td
						a(href="#",class="fa fa-edit text-success")
					td
						a(href=`/admin/delete-product/${product.id}`,class="fa fa-trash text-danger")